<div class="blog-list-container">
  <div class="header-section">
    <h1>All Blog Posts</h1>
    <a *ngIf="isAuthenticated" routerLink="/blog/create" class="btn btn-primary"
      >Create New Post</a
    >
    <a *ngIf="!isAuthenticated" routerLink="/login" class="btn btn-primary"
      >Login to Create Post</a
    >
  </div>

  <div class="loading" *ngIf="isLoading">
    <p>Loading blogs...</p>
  </div>

  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <div class="blogs-grid" *ngIf="!isLoading && blogs.length > 0">
    <div class="blog-card" *ngFor="let blog of blogs">
      <div class="blog-image" *ngIf="blog.image">
        <img [src]="blog.image" [alt]="blog.title" />
      </div>

      <div class="blog-content">
        <div class="blog-category">{{ blog.category }}</div>

        <h2>
          <a [routerLink]="['/blog', blog._id]">{{ blog.title }}</a>
        </h2>

        <p class="blog-excerpt">{{ getExcerpt(blog.content) }}</p>

        <div class="blog-meta">
          <span class="author" *ngIf="blog.user?.userName">
            By
            <a
              [routerLink]="['/user', blog.user?.userName]"
              class="author-link"
              >{{ "@" + blog.user?.userName }}</a
            >
          </span>
          <span class="date">{{ formatDate(blog.createdAt) }}</span>
        </div>

        <div class="blog-stats">
          <span class="comments" *ngIf="blog.commentsCount"
            >💬 {{ blog.commentsCount }} comments</span
          >
        </div>

        <div class="blog-actions">
          <button
            class="like-btn"
            [class.liked]="blog.isLiked"
            [disabled]="isTogglingLike(blog._id)"
            (click)="toggleLike(blog, $event)"
          >
            <span class="like-icon">{{ blog.isLiked ? "❤️" : "🤍" }}</span>
            <span
              class="like-count"
              *ngIf="blog.likesCount && blog.likesCount > 0"
              >{{ blog.likesCount }}</span
            >
          </button>
          <a [routerLink]="['/blog', blog._id]" class="read-more-btn">
            Read More →
          </a>
        </div>
      </div>
    </div>
  </div>

  <div
    class="no-blogs"
    *ngIf="!isLoading && blogs.length === 0 && !errorMessage"
  >
    <p>No blog posts found. Be the first to create one!</p>
  </div>
</div>
